{% extends "base.html" %}

{% block content %}
	<h1>Archives</h1>

	<br><br>
	<div class="row">
		<div class="col-lg-offset-1 col-lg-2">
			<h3><a href="#">Jan 2015</a></h3>
		</div>

		<div class="col-lg-offset-1 col-lg-2">
			<h3><a href="#">Feb 2015</a></h3>
		</div>

		<div class="col-lg-offset-1 col-lg-2">
			<h3><a href="#">Mar 2015</a></h3>
		</div>

		<div class="col-lg-offset-1 col-lg-2">
			<h3><a href="#">Apr 2015</a></h3>
		</div>

		<div class="col-lg-offset-1 col-lg-2">
			<h3><a href="#">May 2015</a></h3>
		</div>

		<div class="col-lg-offset-1 col-lg-2">
			<h3><a href="#">June 2015</a></h3>
		</div>

		<div class="col-lg-offset-1 col-lg-2">
			<h3><a href="#">July 2015</a></h3>
		</div>
	</div>

{% endblock %}