{% extends "base.html" %}

{% block content %}
	<h1>Category</h1>

	<br><br>
	<div class="row">
		<div class="col-lg-offset-1 col-lg-2">
			<h3><a href="#">Python</a></h3>
		</div>

		<div class="col-lg-offset-1 col-lg-2">
			<h3><a href="#">Django</a></h3>
		</div>

		<div class="col-lg-offset-1 col-lg-2">
			<h3><a href="#">Javascript</a></h3>
		</div>

		<div class="col-lg-offset-1 col-lg-2">
			<h3><a href="#">PHP</a></h3>
		</div>

		<div class="col-lg-offset-1 col-lg-2">
			<h3><a href="#">Nod.js</a></h3>
		</div>
	</div>

{% endblock %}